name: hand_landmarker_example
description: "Demonstrates how to use the hand_landmarker plugin."
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.1
  hand_landmarker: ^2.0.0
  http: ^1.1.0

  # The example app's only runtime dependency is the plugin itself.
  # All other necessary packages (camera, jni, etc.) are brought in
  # transitively by the hand_landmarker plugin.
  

  # UI packages like this are fine to keep as a direct dependency.
  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
